{% comment %} {% block title %}User Lookup{% endblock %}

{% block content %}
{% for user in user_list %}
<h2>
    {{user.name}}   
</h2>
{% endfor %}
{% endblock %} {% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}User Lookup{% endblock %}</title>
</head>

<body>
    <div class="col">
        {% block content %} 
        <form method="post" style="text-align: center;padding: 10px">
            {% csrf_token %}
            {{form}}
        </form>
        <form method="get" style="text-align: center;padding: 10px" >
            {% csrf_token %}
            <button type='submit' name='show_all'> Show all </button>
        </form>
            {% for user in user_list %}
                <table style="width:100%; margin-bottom: 100px">
                    <tr> 
                        <td style="text-align: center">
                            <img src="{{user.image}}" width='500'>
                        </td>
                    </tr>
                    <tr> 
                        <td style="font-size: 30px; text-align: center">
                            {{user.name}} 
                        </td>
                    </tr>
                    <tr> 
                        <td style="text-align: center">
                            {{user.birdthday}} 
                        </td>
                    </tr>
                    <tr> 
                        <td style="text-align: center">
                            {{user.address}} 
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% endblock %}
    </div>
</body>
</html>